<div class="articles">
<%= link_to "ブログを書く",new_article_path,class:"write-blog waves-effect waves-light btn-large"%>
</div>
<div class="boxbaseP30" blog-ichiran">
<table>
    <thead>
        <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>タグ</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.user.name %></td>
                <td>
                <%= link_to article_path(article.id) do %>
                <%= article.subject %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>