<div class="result-bottle">
    <h1 class="title1">あなたの魂からのメッセージ<br>あなたが選んだ４本のボトル</h1>
    <a href="#">ボトルをもう一度選ぶ</a>

    <table align="center" width="680">
        <tbody>
            <tr>
                <td align="center" width="170">
                    <a id="index1" href=""
                </td>
            </tr>
        </tbody>
    </table>
</div>
