<% provide(:title, 'All users') %>
<h1>All users</h1>



<ul class="users">
  <% User.all.each do |user| %>
    <%= user.name %>
    <%= user.email %>
    <%= user.password %>
    <%= user.password_confirmation %>
  <% end %>
</ul>