<% @user.followers.each do |user| %>
  <div class="follower_list list_follow">
  <h1>フォロワーリスト</h1>
  </div>
  <div class="boxbaseP30">
    <table>
    <tr>
      <td>  <%= user.name %> </td>
      <td><%= link_to '詳細', user_profiles_path(user.id) %></td>
    </tr>
    </table>
    </div>
    <% end %>