<% @user.following.each do |user| %>
  <div class="follow_list list_follow">
  <h1>フォローリスト</h1>
  </div>
  <div class="boxbaseP30">
    <table>
    <tr>
      <td><%= user.name %> </td>
      <td><%= link_to '詳細', user_profiles_path(user.id) %></td>
    </tr>
    </table>
    </div>
    <% end %>