<% @another_entries.each do |entry| %>
    <%= link_to room_path(entry.room) do %>
      <div class="card">
        <div class="card-body">
          <div>
            <div class="d-flex">
              <div class="chat-avatar">
                <object>
                  <%= link_to user_path(entry.user) do %>
                    <%= image_tag "B000.jpeg" %>
                  <% end %>
                </object>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  

  <div class="back_white p-t3 dashContent">
  <div class="dashContent_right">
      <div class="flex flexbox-justify-content-space-between flexbox-align-center">
          <h1>メッセージ</h1>
      </div>
      <form method="GET" action="" class="js-auto-submit">
          <div class="navbox">
              <div class="navbox_search">
                  <input id="message_q" class="messageHeader_searchbox" placeholder="メッセージを検索" name="message_q" type="text">
              </div>
          </div>
      </form>
      <div class="memberMsgBox reminder_setting">
          <p>おはよう</p>
      </div>
      <div class="memberMsgBox reminder_setting">
          <p>こんにちは</p>
      </div>
  </div>
</div>