/*
 *= require_tree .
 *= require_self
 */
@import 'index';
@import 'registration';
@import 'detail';
@import 'profiles';
@import 'inquiry';
@import 'plan';
@import 'review';



.login-btn2 {
    background: #ff6e00;
    width: 100%;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;

    &:hover {
        background:darken(#ff6e00,20%);
    }
}

.password_reset {
    width: 100%;
    background: #ff6e00;
    border-radius: 4px;

    &:hover {
        background:darken(#ff6e00,20%);
    }
}