.post-articles {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.post-article {
    text-align: center;
    margin-top: 20px;
}

.btn-article {
    background: #ff6e00;
    width: 200px;
    &:hover {
        background: darken(#ff6e00, 20%);
    }
}

.blog-box {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.write-blog {
    font-size: 20px;
    color: #fff;
    background: #ff6e00;
    font-weight: 700;
    width: 300px;
}

.articles {
    text-align: center;
}