.container_wrap{
    width: 480px;
    background: #fff;
    padding: 32px 56px 56px;
    margin: 0 auto;
    font-size: 13px;
    box-sizing:border-box;
}

.inquiry-btn {

    color: #ff6e00!important;
    margin-top: 20px;
}

.btn {
    &:hover {
        background: darken(#ff6e00, 20%);
    }
}

.inquiry-label {
    text-align: left!important;
}

.inquiry-title {
    text-align: center;
}

.message-inquiry {
    margin-top: 20px!important;
}

.confirm-btn {
    margin-top: 20px;

    &:hover {
        background:darken(#ff6e00, 20%);
    }
}

.page-header {
    h5 {
        color: #333;
        text-align: center;
    }
}

.go-to-top {
    color:#ff6e00;
    margin-top: 20px!important;
}

.aiueo {
    text-align: center!important;
}

.soushin {
    text-align: center!important;
}

.tophe {
    text-align: center!important;
}