<div class="back_white inner p-t3 dashContent">
<div class="dashContent_right">
    <h1>レビュー</h1>
    <div class="boxbaseP30 review_content">
        <div class="in action_content">
            <h3>レビュー</h3>
            <div class="m-t2">
                <select class="browser-default rating">
                  <option value="5" disabled selected>★★★★★</option>
                  <option value="4">★★★★</option>
                  <option value="3">★★★</option>
                  <option value="2">★★</option>
                  <option value="1">★</option>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="m-t2">
                <textarea class placeholder="ありがとうございました。" name="comment" cols="50" rows="10"></textarea>
                <span class="help-block"></span>
                <p class="small">レビューコメントの入力は任意です。</p>
            </div>
            <div class="imasugu alignCenter">
                <a class="waves-effect waves-light btn-large post_review">レビューを投稿する</a>
            </div>
            </div>
        </div>
    </div>
</div>
