<div class="p-profile_content">
<div class="p-profile_content_inner">
  <div class="p-profile_content_items is-show --reviewed">
    <h3 class="m-b1">
      <span class="review_link"></span>
    </h3>
    <div class="v-app">
      <div class="rating-summary">
        <div class="rationg-summary_avg">
          <span class="rating-summary_avg_num">4.7</span>
        </div>
        <div class="rating-summary_graph">
          <div class="rating-summary_graph_labels">
            <div class="rating-start">
              <div class="rating-start_label">
                <div class="rating-start_label_start">★★★★★</div>
                <div class="rating-start_label_num">5</div>
                <div class="rating-start_label_count">(162件)</div>
              </div>
              <div class="rating-start_label">
                <div class="rating-start_label_start">★★★★</div>
                <div class="rating-start_label_num">4</div>
                <div class="rating-start_label_count">(162件)</div>
              </div>
              <div class="rating-start_label">
                <div class="rating-start_label_start">★★★</div>
                <div class="rating-start_label_num">3</div>
                <div class="rating-start_label_count">(162件)</div>
              </div>
              <div class="rating-start_label">
                <div class="rating-start_label_start">★★</div>
                <div class="rating-start_label_num">2</div>
                <div class="rating-start_label_count">(162件)</div>
              </div>
              <div class="rating-start_label">
                <div class="rating-start_label_start">★</div>
                <div class="rating-start_label_num">1</div>
                <div class="rating-start_label_count">(162件)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-profile_content_item c-card-m">
      <div class="review_list_user">
        <div class="review_list_avatar">
          <span class="avatar-image">
            <imag src="">
          </span>
        </div>
        <div class="review_list_user">
          <div class="flex justify-between">
            <div class="review_list_name">
              <span class="name">
                林みのり
              </span>
              <div class="review_list_option">
                <div class="time_area">
                  <time datetime="22/4/20 22:15" itemprop="datepublished" class="time_created">
                    22/4/20 22:15
                  </time>
                </div>
              </div>
            </div>
          </div>
          <p class="review_list_comment">メンターの方にご親切にしていただき学習が捗りました。短い間でしたがありがとうございました。</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
