<div>
<span class="like off">
<% if current_user.followed_by?(user) %>
    <% relationship = Relationship.find_by(follower_id: current_user.id, following_id: user.id) %>
    <%= link_to user_relationship_path(user_id: user.id, id: current_user.following?(user).id), method: :delete,remote: true do %>
        <i class="fa fa-heart like-btn-unlike"></i>
    <% end %>
<% else %>
    <%= link_to user_relationships_path(user.id), method: :post,remote: true do %>
        <i class="far fa-heart like-btn"></i>
    <% end %>
<% end %>
    </span>
</div>
