<div class="back_white p-t3 dashContent">
    <div class="dashContent_right">
        <%# お客様の場合 %>
        <div class="todo_area">
            <div class="todo_area_title">
                <h3>お客様のTodo</h3>
            </div>
            <div class="scroll">
                <ul class="todoList flexbox">
                    <li class="todoList_item">
                    <%= link_to profile_path do  %>
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-user user-icon"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">プロフィールの入力</span>
                                <span class="todoList_item_label_body">できるだけ詳細に入力し<br>マッチングしやすくしましょう</span>
                            </span>
                        <% end %>
                    </li>
                    <li class="todoList_item">
                    <%= link_to bottles_new_path do   %>
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-palette user-icon"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">ボトルを選ぼう</span>
                                <span class="todoList_item_label_body">ボトルを4本選んで<br>コンサルティングに備えよう</span>
                            </span>
                    <% end %>
                    </li>
                    <li class="todoList_item">
                    <%= link_to plans_path do  %>
                            <span class="check_circle">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <div class="todoList_item_icon flexbox">
                                <span class="icon">
                                    <i class="fas fa-handshake user-icon"></i>
                                </span>
                            </div>
                            <span class="todoList_item_label">
                                <span class="todoList_item_label_head">コンサルティングを受けてみよう</span>
                                <span class="todoList_item_label_body">最短１時間後から可能</span>
                            </span>
                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-t2">
            <h3>お客様サマリー</h3>
            <div class="scoreBox column_2">
            <div class="flexbox scoreBox_wrap">
                <div class="scoreStatus contract_manage flexbox">
                    <div class="scoreStatus_item relative">
                            <span class="scoreStatus_label flexbox">契約累計</span>
                            <span class="scoreStatus_score">1</span>
                            <span>人</span>
                    </div>
                </div>
            </div>
                <ul class="scoreStatus_listsss flexbox border-top">
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">フォロー</span>
                    </li>
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">フォロワー</span>
                    </li>
                    <li class="scoreStatus_list flexbox">
                        <span class="scoreStatus_list_score">0</span>
                        <span class="scoreStatus_list_label">投稿</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

